.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f2f5;
    padding: 20px;
}
.title{
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.input{
    width: 80%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: border-color 0.3s;
}
.input:focus{
    border-color: #007bff;
}
.button{
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button:hover{
    background-color: #0056b3;
}